.search-section {
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%;
    max-width: 800px;
    z-index: 10;
}

.search-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.search-input {
    width: 90%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
}

.dropdowns-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.dropdown {
    flex: 1;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    background-color: white;
}

.dropdown:last-child {
    margin-right: 0;
}

.search-button {
    padding: 15px 30px;
    font-size: 16px;
    background-color: #FF6F61;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-button:hover {
    background-color: #FF3B30;
}
